whitepaper.pdf
whitepaper_initial_submission.pdf
whitepaper_biorxiv.pdf
replyToReviewer.pdf
diff*

.DS_Store

# LaTeX intermediaries #
########################
*.aux
*.log
*.bbl
*.blg
*.out
*.pdfsync
*.synctex.gz
